.about__wrapper {
  padding-top: 31px;
  margin-bottom: 58px;
}

.about__title {
  .reset ();
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @color-heading;
}

.about__list {
  .reset ();
  list-style: none;
  line-height: 20px;
  font-weight: bold;
}

.about__item {
  padding-top: 83px;
}
