.about__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 31px;
  margin-bottom: 58px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1050px;
    padding-left: 175px;
  }
}

.about__title {
  .reset ();
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @color-heading;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 39px;
  }
}

.about__list {
  .reset ();
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 20px;
  font-weight: bold;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.about__item {
  padding-top: 83px;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin-bottom: 53px;
    padding-top: 56px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 57px;
  }
}
