.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.catalog__list {
  .reset ();
  list-style: none;
  display: grid;
  row-gap: 30px;

  @media (min-width: @tablet-width) {
    row-gap: 54px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 51px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.catalog__image {
  display: block;
  width: 260px;
  height: 195px;

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.catalog__item-container {
  padding-top: 27px;
  padding-bottom: 27px;
}

.catalog__title {
  .reset ();
  font-weight: bold;
  color: @color-heading;
}

.catalog__description {
  .reset ();
  padding-bottom: 17px;
  font-size: 13px;
  line-height: 30px;
}

.catalog__price {
  .reset ();
  padding-top: 22px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: @color-heading;
}
