.contacts__wrapper {
  padding-top: 38px;
  margin-bottom: 39px;
}

.contacts__title {
  .reset ();
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @color-heading;
}

.contacts__list {
  .reset ();
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
}

.contacts__button {
  margin-top: 42px;
}
