.features-wrapper {
  margin-bottom: 42px;
}

.features__title {
  .reset ();
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @color-main-theme;
  text-transform: uppercase;
}

.features__sub-title {
  .reset ();
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @color-heading;
}

.features__text {
  .reset ();
  margin-top: 17px;
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 24px;
}

.features__list {
  .reset ();
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;
}

.features__image {
  display: block;
  width: 260px;
  height: 315px;
  margin-bottom: 25px;
}

.features__price {
  .reset ();
  margin-bottom: 25px;
}
