.features__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 41px;
  margin-bottom: 0;
  display: grid;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    padding-bottom: 69px;
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1150px;
    padding-bottom: 96px;
    margin-bottom: 68px;
    grid-template-rows: repeat(2, auto);
  }
}

.features__wrapper::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 6px;
  bottom: 0;
  left: 50%;
  margin-left: -160px;
  background-image: url("../img/zigzag-line-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 17px;
    margin-left: -384px;
    background-image: url("../img/zigzag-line-tablet.svg");
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    height: 23px;
    margin-left: -525px;
    background-image: url("../img/zigzag-line-desktop.svg");
  }
}

.features__header {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    margin-left: 32px;
    padding-top: 74px;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
  }
}

.features__title {
  .reset ();
  margin-top: 5px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @color-main-theme;
  text-transform: uppercase;
  order: 2;

  @media (min-width: @tablet-width) {
    width: 100px;
    margin-right: 12px;
    margin-top: 0;
    text-align: center;
    line-height: 17px;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    margin-top: -5px;
  }
}

.features__sub-title {
  .reset ();
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @color-heading;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 31px;
    font-size: 53px;
    line-height: 57px;
  }
}

.features__content-wrapper {
  @media (min-width: @tablet-width) {
    padding-top: 13px;
    display: grid;
    grid-template-columns: 292px 1fr;
    grid-template-rows: repeat(4, auto);
    column-gap: 42px;
    grid-template-areas:
      "feature-text feature-image"
      "feature-list feature-image"
      "feature-price feature-image"
      "feature-button feature-image";
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    padding-left: 175px;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.features__text {
  .reset ();
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    grid-area: feature-text;
    margin-bottom: 24px;
    margin-top: -13px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 166px;
    margin-bottom: 16px;
  }
}

.features__list {
  .reset ();
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    grid-area: feature-list;
    margin-bottom: 26px;
  }
}

.features__item {
  display: flex;
  padding-bottom: 12px;
  padding-top: 8px;
  border-bottom: 1px solid #ececec;
}

.features__option {
  width: 97px;
}

.features__description {
  .reset ();
}

.features__image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    grid-area: feature-image;
    margin-left: auto;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;
    padding: 0;
  }
}

.features__price {
  .reset ();
  margin-bottom: 25px;
  font-weight: bold;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-area: feature-price;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -5px;
  }
}

.features__button-wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-top: auto;
    grid-area: feature-button;
    width: 292px;
  }
}
