.form__fielset {
  .reset ();
  padding: 0 30px;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
  }
}

.form__fielset--type {
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.form__fielset--color {
  padding: 0 30px;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    padding-top: 65px;
    padding-bottom: 11px;
    background-color: @color-footer-background;
  }
}

.form__fielset--name {
  @media (min-width: @tablet-width) {
    padding-top: 8px;
    padding-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 34px;
  }
}

.form__fielset--wishes {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding-top: 16px;
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 49px;
  }
}

.form__fielset--contacts {
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    background-color: @color-footer-background;
  }
}

.form__fielset-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.form__fielset-wrapper--color {
  @media (min-width: @desktop-width) {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.form__fielset-wrapper--wishes {
  @media (min-width: @desktop-width) {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.form__fielset-bottom-wrapper {
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    max-width: 1150px;
    padding: 0 225px;
    margin: 0 auto;
  }
}

.form__title {
  .reset ();
  position: relative;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: @color-main-theme;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 167px;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 175px;
    padding-left: 61px;
  }
}

.form__title::after {
  position: absolute;
  content: "";
  width: 77%;
  height: 1px;
  top: 7px;
  right: 0;
  background-color: @color-radio-hover;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__title--color {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.form__title--name {
  @media (min-width: @tablet-width) {
    padding-top: 18px;
  }
}

.form__title--wishes {
  margin-bottom: 23px;
}

.form__list {
  .reset ();
  list-style: none;
}

.form__list--color {
  @media (min-width: @tablet-width) {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 764px;
  }
}

.form__list--name {
  @media (min-width: @tablet-width) {
    width: 501px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.form__list--contacts {
  @media (min-width: @tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.form__item--type {
  width: 100%;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
  }
}

.form__item--color {
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-right: 24px;
    width: 238px;
  }
}

.form__item--color:last-child {
  margin-bottom: 0;
}

.form__item--color:nth-child(even) {
  @media (min-width: @tablet-width) {
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 24px;
  }
}

.form__item--color:nth-child(3n) {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.form__item--name {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__item--name:last-child {
  margin-bottom: 0;
}

.form__item--contacts {
  position: relative;
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-bottom: 24px;
  }
}

.form__item--contacts:last-child {
  margin-bottom: 0;
}

.form__radio-break {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__radio-label {
  display: block;
  position: relative;
  padding-left: 60px;
  padding-top: 6px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: @color-heading;
  cursor: pointer;
  user-select: none;

  @media (min-width: @tablet-width) {
    padding-left: 80px;
    padding-top: 16px;
    font-size: 19px;
  }
}

.form__radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid @color-text;
  border-radius: 50px;

  @media (min-width: @tablet-width) {
    width: 50px;
    height: 50px;
    top: 1px;
    left: 3px;
  }

  @media (min-width: @desktop-width) {
    left: 1px;
  }
}

.form__radio:disabled + label::before {
  border: 2px solid @color-footer-background;
}

.form__radio + label:hover::before,
.form__radio + label:focus::before {
  border-color: @color-radio-hover;
}

.form__radio:focus + label::before {
  border-color: @color-radio-hover;
  outline: thin dotted;
}

.form__radio + label:active::before {
  border-color: rgba(0, 0, 0, 0.3);
}

.form__radio:checked + label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 12px;
  background-color: @color-radio-hover;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 20px;
    height: 20px;
    top: 15px;
    left: 18px;
  }
}

.form__checkbox-label {
  display: block;
  position: relative;
  padding-left: 61px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: @color-heading;
  cursor: pointer;
  user-select: none;

  @media (min-width: @tablet-width) {
    padding-left: 82px;
    margin-bottom: 58px;
    font-size: 19px;
    line-height: 18px;
  }
}

.form__checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -11px;
  width: 38px;
  height: 38px;
  border: 2px solid @color-text;

  @media (min-width: @tablet-width) {
    width: 52px;
    height: 52px;
    top: -15px;
    left: 0;
  }
}

.form__checkbox:disabled + label::before {
  border: 2px solid @color-footer-border;
}

.form__checkbox:hover + label::before,
.form__checkbox:focus + label::before {
  border-color: @color-radio-hover;
}

.form__checkbox:active + label::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 0;
  width: 23px;
  height: 16px;
  background-image: url("../img/tick-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet-width) {
    width: 32px;
    height: 22px;
    left: 9px;
    top: 1px;
    background-image: url("../img/tick-icon-tablet.svg");
  }
}

.form__name-label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: @color-heading;

  @media (min-width: @tablet-width) {
    padding-top: 18px;
    margin-right: 24px;
    font-size: 19px;
  }
}

.form__name-input {
  width: 100%;
  .reset ();
  padding-top: 16px;
  padding-bottom: 15px;
  border: none;
  border-bottom: 2px solid @color-heading;

  &:hover,
  &:focus {
    outline: none;
    border-bottom-color: @color-radio-hover;
  }

  &:active {
    padding-bottom: 16px;
    border-bottom: 1px solid @color-radio-hover;
  }

  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }
}

.form__name-input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: @color-heading;
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }
}

.form__name-label--contacts {
  position: relative;
  line-height: 16px;
  font-weight: bold;
  color: @color-main-theme;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 167px;
    padding-top: 17px;
    margin-right: 43px;
  }

  @media (min-width: @desktop-width) {
    width: 175px;
    padding-left: 62px;
    margin-right: 39px;
  }
}

.form__name-label--contacts::after {
  position: absolute;
  content: "";
  width: 77%;
  height: 1px;
  top: 7px;
  right: 0;
  background-color: @color-radio-hover;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__name-label--mail-contacts::after {
  width: 70%;
}

.form__name-input--contacts {
  padding-top: 18px;
  padding-bottom: 18px;

  &:active {
    padding-bottom: 19px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 14px;
    padding-bottom: 17px;
    background-color: @color-footer-background;

    &:active {
      padding-bottom: 18px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 175px;
  }
}

.form__item--contacts:hover .form__icon,
.form__item--contacts:focus .form__icon,
.form__item--contacts:active .form__icon {
  opacity: 1;
  fill: @color-radio-hover;
}

.form__icon {
  position: absolute;
  opacity: 0.2;
}

.form__icon--phone {
  width: 25px;
  height: 24px;
  right: 7px;
  bottom: 16px;

  @media (min-width: @tablet-width) {
    right: 25px;
  }

  @media (min-width: @desktop-width) {
    right: 183px;
  }
}

.form__icon--mail {
  width: 32px;
  height: 21px;
  right: 3px;
  bottom: 15px;

  @media (min-width: @tablet-width) {
    right: 22px;
  }

  @media (min-width: @desktop-width) {
    right: 179px;
  }
}

.form__requirement {
  .reset ();
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    order: 1;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.form__button {
  @media (min-width: @tablet-width) {
    width: 230px;
  }
}

.form__text {
  width: 100%;
  height: 142px;
  padding: 0 30px;
  border: 2px solid @color-text;
  padding-top: 15px;
  padding-left: 15px;

  &:hover,
  &:focus,
  &:active {
    border-color: @color-radio-hover;
  }

  @media (min-width: @tablet-width) {
    width: 501px;
    height: 142px;
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    margin-left: 0;
  }
}

.form__text::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: @color-heading;
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }
}
