.page-footer {
  background-color: @color-footer-background;
}

.page-footer__copyright {
  padding-top: 30px;
  padding-bottom: 30px;
}

.copyright__text {
  .reset ();
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: @color-heading;
}
