.page-footer {
  background-color: @color-footer-background;
}

.page-footer__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 51px 50px 58px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    max-width: 1150px;
    padding: 51px 50px 58px 50px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.logo__image--footer {
  fill: @color-heading;

  &:hover,
  &:focus {
    fill: @color-toys-hover;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 102px;
    height: 34px;
  }
}

.page-footer__copyright {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 30px;
  border-top: 1px solid @color-footer-border;

  @media (min-width: @tablet-width) {
    padding: 0;
    border-top: none;
  }
}
