.page-main__title {
  .reset ();
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: @color-heading;
}

.page-main__title--inner {
  margin-bottom: 30px;
  padding-top: 74px;
  padding-bottom: 74px;
  text-align: center;
  background-color: @color-footer-background;
}
