.page-main__title {
  .reset ();
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: @color-heading;
  text-align: center;
}

.page-main__title--inner {
  width: auto;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 74px;
  padding-bottom: 74px;
  text-align: center;
  background-color: @color-footer-background;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    padding-top: 102px;
    padding-bottom: 87px;
    margin-bottom: 67px;
    margin-top: -71px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1150px;
    margin-bottom: 111px;
    margin-top: -64px;
    padding: 0 50px;
    padding-top: 102px;
    padding-bottom: 113px;
    font-size: 53px;
    line-height: 57px;
  }
}
