.promo {
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: @color-promo-background;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top -18px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-position: center top -40px;
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    margin-bottom: 54px;
    margin-top: -70px;
    background-image: url("../img/hero-tablet.jpg");
    background-position: center 0;
    background-size: cover auto;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-tablet@2x.jpg");
  }

  @media (min-width: @desktop-width) {
    max-width: 1150px;
    margin-bottom: 56px;
    margin-top: -63px;
    background-image: url("../img/hero-desktop.jpg");
    background-position: 0 0;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-desktop@2x.jpg");
  }
}

.promo__page-title {
  .reset ();
  padding: 0 30px;
  padding-top: 73px;
  margin-bottom: 120px;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: @color-heading;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 154px;
    margin-bottom: 372px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 157px;
    margin-bottom: 355px;
  }
}

.promo__list {
  position: relative;
  .reset ();
  width: auto;
  list-style: none;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.promo__list::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 770px;
    height: 24px;
    bottom: -13px;
    left: 50%;
    margin-left: -385px;
    background-image: url("../img/zigzag-fill-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
    height: 34px;
    bottom: -16px;
    margin-left: -575px;
    background-image: url("../img/zigzag-fill-desktop.svg");
  }
}

.promo__link {
  display: block;
  position: relative;
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 31px;
  font-size: 19px;
  font-weight: bold;
  color: @color-background;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 36px;
    padding-top: 25px;
    padding-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 37px;
    padding-bottom: 36px;
  }
}

.promo__icon {
  position: absolute;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.promo__icon--interior {
  width: 40px;
  height: 62px;
  top: 23px;
  right: 36px;

  @media (min-width: @tablet-width) {
    top: 30px;
    right: 37px;
  }
}

.promo__icon--toys {
  width: 60px;
  height: 60px;
  top: 21px;
  right: 27px;

  @media (min-width: @tablet-width) {
    top: 32px;
    right: 33px;
  }
}

.promo__link--interior {
  background-color: @color-main-theme;

  &:hover,
  &:focus,
  &:active {
    background-color: @color-interior-hover;
  }
}

.promo__link--toys {
  background-color: @color-main-right-button;

  &:hover,
  &:focus,
  &:active {
    background-color: @color-toys-hover;
  }
}
