.reviews__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 51px;


  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
    padding: 0 50px;
  }
}

.reviews__title {
  .reset ();
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @color-heading;

  @media (min-width: @tablet-width) {
    order: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
  }
}

.reviews__list {
  @media (min-width: @tablet-width) {
    width: 668px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    width: 875px;
  }
}

.reviews__item {
  .reset ();

  @media (min-width: @desktop-width) {
    padding-left: 175px;
  }
}

.slider__item {
  display: none;
}

.reviews__item--current {
  display: block;
}

.reviews__text {
  .reset ();
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  font-weight: bold;
  font-style: normal;
  color: @color-heading;
}

.reviews__email {
  .reset ();
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 30px;
}

.reviews__arrows {
  margin-bottom: 38px;
}

.reviews__button {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}
