.reviews__wrapper {
  padding-bottom: 51px;
}

.reviews__title {
  .reset ();
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @color-heading;
}

.reviews__item {
  .reset ();
}

.reviews__text {
  .reset ();
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  font-weight: bold;
  font-style: normal;
  color: @color-heading;
}

.reviews__email {
  .reset ();
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 30px;
}

.reviews__arrows {
  margin-bottom: 38px;
}
