.user-list {
  @media (min-width: @tablet-width) {
    order: 2;
    margin-left: auto;
    display: flex;
  }
}

.user-list__cart {
  color: @color-heading;
}

.user-list__input {
  display: none;
}
