.video {
  width: auto;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 59px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1150px;
    margin-bottom: 105px;
  }
}

.video__wrapper {
  display: grid;
  padding-bottom: 31px;
  border: 1px solid @color-nav-border;

  @media (min-width: @tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    grid-template-columns: 683px 1fr;
    grid-template-rows: auto auto auto;
  }
}

.video__title::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 22px;
  top: 34px;
  left: 33px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet-width) {
    top: 39px;
    left: 41px;
  }

  @media (min-width: @desktop-width) {
    top: 47px;
    left: 79px;
  }
}

.video__title {
  .reset ();
  position: relative;
  padding-top: 22px;
  padding-bottom: 24px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @color-heading;

  @media (min-width: @tablet-width) {
    padding-left: 106px;
    padding-top: 42px;
    padding-bottom: 0;
    margin-bottom: 24px;
    font-size: 20px;
    order: 2;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 97px;
    padding-left: 79px;
    margin-bottom: 0;
  }
}

.video__break {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.video__image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.video__text {
  .reset ();
  padding-left: 34px;
  margin-bottom: 41px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    margin-bottom: 40px;
    order: 3;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 79px;
    padding-top: 20px;
  }
}

.video__button {
  width: 192px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 584px;
    order: 4;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    margin-top: auto;
    margin-bottom: 60px;
    margin-left: 81px;
  }
}
