.video__wrapper {
  margin-bottom: 58px;
  padding-top: 22px;
  padding-bottom: 33px;
}

.video__title {
  .reset ();
  margin-bottom: 27px;
  font-weight: bold;
  color: @color-heading;
}

.video__image {
  display: block;
  width: 260px;
  height: 150px;
  margin-bottom: 35px;
}

.video__text {
  .reset ();
  margin-bottom: 41px;
  font-size: 13px;
  line-height: 24px;
}
