@color-background: #ffffff;
@color-heading: #000000;
@color-text: #444444;
@color-main-theme: #63D1BB;
@color-main-right-button: #56C3B2;
@color-footer-background: #F1F1F1;

@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;
